<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boollean.fun2048">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="游玩游戏"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".UserEditorActivity"
            android:label="用户资料"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MessageActivity"
            android:label="留言板"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".RankActivity"
            android:label="排行榜"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".FeedBackActivity"
            android:label="用户反馈"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>